<div class="container-fluid">
    <div class="row">
        <div class="col-2" style="display:inline">
            <br>
            <div class="card mb-4" style="max-width: 600x;border-color:white;">
                <div class="row">
                    <div class="col-6">
                        <video width="200" height="200" controls>
                            <source src="movie.mp4" type="video/mp4">
                            <source src="movie.ogg" type="video/ogg">
                        </video>
                        <h5 class="title ml-auto">Title</h5>
                        <p class="text ml-auto">description</p>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-2" style="display:inline">
            <br>
            <div class="card mb-4" style="max-width: 600x;border-color:white;">
                <div class="row">
                    <div class="col-6">
                        <video width="200" height="200" controls>
                            <source src="movie.mp4" type="video/mp4">
                            <source src="movie.ogg" type="video/ogg">
                        </video>
                        <h5 class="title ml-auto">Title</h5>
                        <p class="text ml-auto">description</p>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-2" style="display:inline">
            <br>
            <div class="card mb-4" style="max-width: 600x;border-color:white;">
                <div class="row">
                    <div class="col-6">
                        <video width="200" height="200" controls>
                            <source src="movie.mp4" type="video/mp4">
                            <source src="movie.ogg" type="video/ogg">
                        </video>
                        <h5 class="title ml-auto">Title</h5>
                        <p class="text ml-auto">description</p>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-2" style="display:inline">
            <br>
            <div class="card mb-4" style="max-width: 600x;border-color:white;">
                <div class="row">
                    <div class="col-6">
                        <video width="200" height="200" controls>
                            <source src="movie.mp4" type="video/mp4">
                            <source src="movie.ogg" type="video/ogg">
                        </video>
                        <h5 class="title ml-auto">Title</h5>
                        <p class="text ml-auto">description</p>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-2" style="display:inline">
            <br>
            <div class="card mb-4" style="max-width: 600x;border-color:white;">
                <div class="row">
                    <div class="col-6">
                        <video width="200" height="200" controls>
                            <source src="movie.mp4" type="video/mp4">
                            <source src="movie.ogg" type="video/ogg">
                        </video>
                        <h5 class="title ml-auto">Title</h5>
                        <p class="text ml-auto">description</p>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-2" style="display:inline">
            <br>
            <div class="card mb-4" style="max-width: 600x;border-color:white;">
                <div class="row">
                    <div class="col-6">
                        <video width="200" height="200" controls>
                            <source src="movie.mp4" type="video/mp4">
                            <source src="movie.ogg" type="video/ogg">
                        </video>
                        <h5 class="title ml-auto">Title</h5>
                        <p class="text ml-auto">description</p>
                    </div>

                </div>
            </div>
        </div>
        
    </div>
    <hr>

    <div class="row">
        <div class="col-2" style="display:inline">
            <br>
            <div class="card mb-4" style="max-width: 600x;border-color:white;">
                <div class="row">
                    <div class="col-6">
                        <video width="200" height="200" controls>
                            <source src="movie.mp4" type="video/mp4">
                            <source src="movie.ogg" type="video/ogg">
                        </video>
                        <h5 class="title ml-auto">Title</h5>
                        <p class="text ml-auto">description</p>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-2" style="display:inline">
            <br>
            <div class="card mb-4" style="max-width: 600x;border-color:white;">
                <div class="row">
                    <div class="col-6">
                        <video width="200" height="200" controls>
                            <source src="movie.mp4" type="video/mp4">
                            <source src="movie.ogg" type="video/ogg">
                        </video>
                        <h5 class="title ml-auto">Title</h5>
                        <p class="text ml-auto">description</p>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-2" style="display:inline">
            <br>
            <div class="card mb-4" style="max-width: 600x;border-color:white;">
                <div class="row">
                    <div class="col-6">
                        <video width="200" height="200" controls>
                            <source src="movie.mp4" type="video/mp4">
                            <source src="movie.ogg" type="video/ogg">
                        </video>
                        <h5 class="title ml-auto">Title</h5>
                        <p class="text ml-auto">description</p>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-2" style="display:inline">
            <br>
            <div class="card mb-4" style="max-width: 600x;border-color:white;">
                <div class="row">
                    <div class="col-6">
                        <video width="200" height="200" controls>
                            <source src="movie.mp4" type="video/mp4">
                            <source src="movie.ogg" type="video/ogg">
                        </video>
                        <h5 class="title ml-auto">Title</h5>
                        <p class="text ml-auto">description</p>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-2" style="display:inline">
            <br>
            <div class="card mb-4" style="max-width: 600x;border-color:white;">
                <div class="row">
                    <div class="col-6">
                        <video width="200" height="200" controls>
                            <source src="movie.mp4" type="video/mp4">
                            <source src="movie.ogg" type="video/ogg">
                        </video>
                        <h5 class="title ml-auto">Title</h5>
                        <p class="text ml-auto">description</p>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-2" style="display:inline">
            <br>
            <div class="card mb-4" style="max-width: 600x;border-color:white;">
                <div class="row">
                    <div class="col-6">
                        <video width="200" height="200" controls>
                            <source src="movie.mp4" type="video/mp4">
                            <source src="movie.ogg" type="video/ogg">
                        </video>
                        <h5 class="title ml-auto">Title</h5>
                        <p class="text ml-auto">description</p>
                    </div>

                </div>
            </div>
        </div>
        
    </div>
    <hr>

    <div class="row">
        <div class="col-2" style="display:inline">
            <br>
            <div class="card mb-4" style="max-width: 600x;border-color:white;">
                <div class="row">
                    <div class="col-6">
                        <video width="200" height="200" controls>
                            <source src="movie.mp4" type="video/mp4">
                            <source src="movie.ogg" type="video/ogg">
                        </video>
                        <h5 class="title ml-auto">Title</h5>
                        <p class="text ml-auto">description</p>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-2" style="display:inline">
            <br>
            <div class="card mb-4" style="max-width: 600x;border-color:white;">
                <div class="row">
                    <div class="col-6">
                        <video width="200" height="200" controls>
                            <source src="movie.mp4" type="video/mp4">
                            <source src="movie.ogg" type="video/ogg">
                        </video>
                        <h5 class="title ml-auto">Title</h5>
                        <p class="text ml-auto">description</p>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-2" style="display:inline">
            <br>
            <div class="card mb-4" style="max-width: 600x;border-color:white;">
                <div class="row">
                    <div class="col-6">
                        <video width="200" height="200" controls>
                            <source src="movie.mp4" type="video/mp4">
                            <source src="movie.ogg" type="video/ogg">
                        </video>
                        <h5 class="title ml-auto">Title</h5>
                        <p class="text ml-auto">description</p>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-2" style="display:inline">
            <br>
            <div class="card mb-4" style="max-width: 600x;border-color:white;">
                <div class="row">
                    <div class="col-6">
                        <video width="200" height="200" controls>
                            <source src="movie.mp4" type="video/mp4">
                            <source src="movie.ogg" type="video/ogg">
                        </video>
                        <h5 class="title ml-auto">Title</h5>
                        <p class="text ml-auto">description</p>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-2" style="display:inline">
            <br>
            <div class="card mb-4" style="max-width: 600x;border-color:white;">
                <div class="row">
                    <div class="col-6">
                        <video width="200" height="200" controls>
                            <source src="movie.mp4" type="video/mp4">
                            <source src="movie.ogg" type="video/ogg">
                        </video>
                        <h5 class="title ml-auto">Title</h5>
                        <p class="text ml-auto">description</p>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-2" style="display:inline">
            <br>
            <div class="card mb-4" style="max-width: 600x;border-color:white;">
                <div class="row">
                    <div class="col-6">
                        <video width="200" height="200" controls>
                            <source src="movie.mp4" type="video/mp4">
                            <source src="movie.ogg" type="video/ogg">
                        </video>
                        <h5 class="title ml-auto">Title</h5>
                        <p class="text ml-auto">description</p>
                    </div>

                </div>
            </div>
        </div>
        
    </div>
</div>