
<div class="container-fluid" style="padding:50x;">
  <div class="row">
   <div class="col-8">
    <br>
       <video width="960" height="569" controls>
  <source src="movie.mp4" type="video/mp4">
  <source src="movie.ogg" type="video/ogg">
Your browser does not support the video tag.
</video>
   </div>   
   <div class="col-4" style="display:inline">
       <br>
      <div class="card mb-4" style="max-width: 600x;border-color:white;">
  <div class="row no-gutters">
    <div class="col-4">
         <video width="200" height="200" controls>
  <source src="movie.mp4" type="video/mp4">
  <source src="movie.ogg" type="video/ogg">
</video>
    </div>
    <div class="col-6">
      
        <h5 class="title" style="margin-left:50px";>title</h5>
        <p class="text" style="margin-left:50px";>This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      
    </div>
  </div>
</div>
<br>
<div class="card mb-3" style="max-width: 600x; border-color:white;">
  <div class="row no-gutters">
    <div class="col-4">
         <video width="200" height="200" controls>
  <source src="movie.mp4" type="video/mp4">
  <source src="movie.ogg" type="video/ogg">
</video>
    </div>
    <div class="col-6">
      
        <h5 class="title" style="margin-left:50px";>title</h5>
        <p class="text" style="margin-left:50px";>This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      
    </div>
  </div>
</div>

</div>
</div>
</div>