
<div class="container-fluid">
<div class="row">
   <div id="div2"class="col-8">
    <br>
      <div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
</div>
</br>
<div id="div1"class=" coantainer-fluid">Some title for the video</div>
</br>
<div class="container-fluid">
  <div class="row">
    <div class="col-8 ">
      <div class="container-fluid">
        <div class="row">
     <div class="col-3"><section>10000 views </section></div>
     <div class="col-9 p-0"> <button type="button" class="btn mr-auto"><i class='far fa-thumbs-up' style='font-size:20px'></i><span>24k</span></button></div>
    </div></div></div>
    <div class="col-4">
     <button type="button" class="btn"><i class='far fa-thumbs-up' style='font-size:20px'></i><span>24k</span></button>
     
      
        <button type="button" class="btn"><i class="far fa-thumbs-down" style='font-size:20px'></i><span>13k</span></button>
  <button type="button" class="btn "><i class="fas fa-share-alt" style='font-size:24px'></i></button>
  <button type="button" class="btn"><i class="material-icons" style="font-size:40px">playlist_add</i></button>
    </div>
</div>
<hr>
</div>
<a class="" href="#">
                <img src="../profile.png" width="45" height="45" class="d-inline-block" alt="">ANJALI ANTIL
            </a>
            <p>In this crash course I will cram as much about HTML that I can. This is meant for absolute beginners. If you are interested in learning HTML but know nothing, then you are in the right place. We will be creating a cheat sheet with all of the common HTML5 tags, attributes, semantic markup, etc. We will not be focusing on CSS in this video. The CSS crash course will be released shortly after</p>
  <hr>
  <p>Comment here</p>
  <div class="container-fluid">
    <div class="row">
      <div class="col-1">
        <a class="" href="#">
                <img src="../profile.png" width="45" height="45" class="d-inline-block" alt="">
            </a>

      </div>
      <div class="col-11">
        <form action="/html/tags/html_form_tag_action.cfm" method="post">
<div>
<textarea  class="w-100 ml-auto "name=comments id="comments">
Add comment
</textarea>
</div>
<button  id="btn2"class="btn float-right">Comment</button>
</form>
      </div>
    </div>
  </div>
  

   </div>  
   
   <div id="div3"class="col-4" style="display:inline">
       <br>
      <div id="div4"class="card mb-4" style="max-width: 600x;border-color:white;">
  <div class="row no-gutters">
    <div class="col-6">
        <video width="230" height="200" controls>
  <source src="movie.mp4" type="video/mp4">
  <source src="movie.ogg" type="video/ogg">
</video>
    </div>
    <div class="col-6">
      
        <h5 class="title ml-auto";>title</h5>
        <p class="text" style="ml-auto";>This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      
    </div>
  </div>
</div>

<div id="div5" class="card mb-4" style="max-width: 600x; border-color:white;">
  <div class="row no-gutters">
    <div class="col-6">
         <video width="230" height="200" controls>
  <source src="movie.mp4" type="video/mp4">
  <source src="movie.ogg" type="video/ogg">
</video>
    </div>
    <div class="col-6">
      
        <h5 class="title ml-auto" ;>title</h5>
        <p class="text ml-auto";>This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      
    </div>
  </div>
</div>

      <div id="div6"class="card mb-4" style="max-width: 600x;border-color:white;">
  <div class="row no-gutters">
    <div class="col-6">
         <video width="230" height="200" controls>
  <source src="movie.mp4" type="video/mp4">
  <source src="movie.ogg" type="video/ogg">
</video>
    </div>
    <div class="col-6">
      
        <h5 class="title ml-auto";>title</h5>
        <p class="text ml-auto";>This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      
    </div>
  </div>
</div>

</div>
</div>
</div>