<div class="container-fluid">
  <div class="row">
   <div class="col-8">
    <br>
      <div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
</div>

   </div>   
   <div class="col-4" style="display:inline">
       <br>
      <div class="card mb-4" style="max-width: 600x;border-color:white;">
  <div class="row no-gutters">
    <div class="col-6">
        <video width="200" height="200" controls>
  <source src="movie.mp4" type="video/mp4">
  <source src="movie.ogg" type="video/ogg">
</video>
    </div>
    <div class="col-6">
      
        <h5 class="title ml-auto";>title</h5>
        <p class="text" style="ml-auto";>This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      
    </div>
  </div>
</div>

<div class="card mb-4" style="max-width: 600x; border-color:white;">
  <div class="row no-gutters">
    <div class="col-6">
         <video width="200" height="200" controls>
  <source src="movie.mp4" type="video/mp4">
  <source src="movie.ogg" type="video/ogg">
</video>
    </div>
    <div class="col-6">
      
        <h5 class="title ml-auto" ;>title</h5>
        <p class="text ml-auto";>This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      
    </div>
  </div>
</div>

      <div class="card mb-4" style="max-width: 600x;border-color:white;">
  <div class="row no-gutters">
    <div class="col-6">
         <video width="200" height="200" controls>
  <source src="movie.mp4" type="video/mp4">
  <source src="movie.ogg" type="video/ogg">
</video>
    </div>
    <div class="col-6">
      
        <h5 class="title ml-auto";>title</h5>
        <p class="text ml-auto";>This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      
    </div>
  </div>
</div>

</div>
</div>
</div>