
<div class="container-fluid">
<div class="row">
   <div id="div2"class="col-8">
    <br>
      <div id="div"class="embed-responsive embed-responsive-16by9">
</div>
</br>
<div id="div1"class=" container-fluid"></div>
</br>
<div class="container-fluid">
  <div class="row">
    <div class="col-7 ">
      <div class="container-fluid">
        <div class="row">
     <div class="col-3"><section> <span id="views"></span> views </section></div>
     <div class="col-9 p-0"> <button id="btn"type="button" class="btn mr-auto"><i class='far fa-thumbs-up' style='font-size:20px'></i><span id="btn-counter"></span></button></div>
    </div></div></div>
    <div class="col-5">
     <button type="button" class="btn"><i class='far fa-thumbs-up' style='font-size:20px'></i><span id="likes"></span></button>
     
      
        <button type="button" class="btn"><i class="far fa-thumbs-down" style='font-size:20px'></i><span id="dislikes"></span></button>
  <button type="button" class="btn "><i class="fas fa-share-alt" style='font-size:24px'></i></button>
  <button type="button" class="btn"><i class="material-icons" style="font-size:40px">playlist_add</i></button>
    </div>
</div>
<hr>
</div>
<a class="" href="#">
                <img src="../profile.png" width="45" height="45" class="d-inline-block" alt="">ANJALI ANTIL
            </a>
            <p id="description" style="line-break: strict;"></p>
  <hr>
  <p>Comment here</p>
  <div class="container-fluid">
    <div class="row">
      <div class="col-1">
        <a class="" href="#">
                <img src="../profile.png" width="45" height="45" class="d-inline-block" alt="">
            </a>

      </div>
      <div class="col-11">
        <form action="/html/tags/html_form_tag_action.cfm" method="post">
<div>
<textarea id="text" class="w-100 ml-auto "name=comments id="comments">
Add comment
</textarea>
</div>
<button  id="btn2"class="btn float-right">Comment</button>
</form>
      </div>
    </div>
  </div>
  <div id="comment"></div>

   </div>  
   
   <div id="div3"class="col-4" style="display:inline">
       <br>
       
      {{!-- <div id="div4"class="card mb-4" style="max-width: 600x;border-color:white;">
  <div class="row no-gutters">
    <div id="img" class="col-6">
       
    </div>
    <div class="col-6">
      
        <h5 class="title ml-auto";>title</h5>
        <p id="thumbnail" class="text" style="ml-auto";></p>
      
    </div>
  </div>
</div> --}}

{{!-- <div id="div5" class="card mb-4" style="max-width: 600x; border-color:white;">
  <div class="row no-gutters">
    <div class="col-6">
         <video width="230" height="200" controls>
  <source src="movie.mp4" type="video/mp4">
  <source src="movie.ogg" type="video/ogg">
</video>
    </div>
    <div class="col-6">
      
        <h5 class="title ml-auto" ;>title</h5>
        <p class="text ml-auto";>This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      
    </div>
  </div>
</div>

      <div id="div6"class="card mb-4" style="max-width: 600x;border-color:white;">
  <div class="row no-gutters">
    <div class="col-6">
         <video width="230" height="200" controls>
  <source src="movie.mp4" type="video/mp4">
  <source src="movie.ogg" type="video/ogg">
</video>
    </div>
    <div class="col-6">
      
        <h5 class="title ml-auto";>title</h5>
        <p class="text ml-auto";>This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      
    </div>
  </div>
</div> --}}

</div>
</div>
</div>