 <div class="container" style="margin-top:140px;">
 <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="https://i.ytimg.com/vi/ekvd_XhCyL4/mqdefault.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">BAAHUBALI 2 :THE CONCLUSION FULL MOVIE HINDI (2017)HD 720P-PRABHAS,ANUSHKA SHETTY,RANA DUGGUBATTI</h5>
          <p class="card-text">channel: PCYAP INDIA</p>
          <p class="card-text">BAHUBALI 2 FULL MOVIE HINDI (2017)HD 720P-PRABHAS,ANUSHKA SHETTY,RANA DUGGUBATTI #BAAHUBALI #BAAHUBALI2 #FULLMOVIE Baahubali ...</p>
          <p class="card-text"><small class="text-muted">like: 705720,
              dislike: 55092,
              comment: 48469</small></p>
        </div>
      </div>
    </div>
  </div>

   
 <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="https://i.ytimg.com/vi/MWVajaMd_jM/mqdefault.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">New 2019 Released Hindi Dubbed Action Movie ! Kajal Agarwal BlockBuster Movies 2019</h5>
          <p class="card-text">channel: Jugni Series Movies</p>
          <p class="card-text">New 2019 Released Hindi Dubbed Action Movie ! Kajal Agarwal BlockBuster Movies 2019 #SouthHindiDubbedMovie #ActionMovie #HindiDubbedMovie ...</p>
          <p class="card-text"><small class="text-muted">like: 705720,
              dislike: 55092,
              comment: 48469</small></p>
        </div>
      </div>
    </div>
  </div>

   
 <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="https://i.ytimg.com/vi/MrXmcL2stSM/mqdefault.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">New Release Hindi Dubbed Action Movie 2019 // Latest South Indian Movie Full HD 720p</h5>
          <p class="card-text">channel: South Movies Digiplex</p>
          <p class="card-text">South Movies Digiplex Present's New Release Hindi Dubbed Action Movie // Latest South Indian Movie Full HD 720p.New Release South Indian Movie Full HD ...</p>
          <p class="card-text"><small class="text-muted">like: 705720,
              dislike: 55092,
              comment: 48469</small></p>
        </div>
      </div>
    </div>
  </div>


 <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="https://i.ytimg.com/vi/3IP-ljwOpzE/mqdefault.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">The Return of Rebel (Rebel) Hindi Dubbed Full Movie | Prabhas, Tamannaah Bhatia, Deeksha Seth</h5>
          <p class="card-text">channel: Goldmines</p>
          <p class="card-text">Rishi comes to Hyderabad in search of Mafia's deadly duo Stephen and Robert. Nobody knows how they look like. Rishi's mission is to identify them and ...</p>
          <p class="card-text"><small class="text-muted">like: 705720,
              dislike: 55092,
              comment: 48469</small></p>
        </div>
      </div>
    </div>
  </div>


   
 <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="https://i.ytimg.com/vi/NPFbakg7VUA/mqdefault.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Latest South Indian ACTION BLOCK BUSTER Hindi Dubbed Full Movie 2019 ! New Released Dubbed Movie</h5>
          <p class="card-text">channel: Sony Star Movie</p>
          <p class="card-text">Latest South Indian ACTION BLOCK BUSTER Hindi Dubbed Full Movie 2019 ! New Released Dubbed Movie New Blockbuster movies ..</p>
          <p class="card-text"><small class="text-muted">like: 705720,
              dislike: 55092,
              comment: 48469</small></p>
        </div>
      </div>
    </div>
  </div>