
  <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="https://i.ytimg.com/vi/rA0JQJoGNJI/mqdefault.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Chhichhore | Hmm Achha Theek Hai with Zakir Khan | Sushant | Shraddha | Varun | Tushar
            | Naveen</h5>
          <p class="card-text">channel: Sony Music South</p>
          <p class="card-text">The quintessential sakht launda brings out all the Chhichhorapanti with these
            Chhichhoras. Watch them chat about Naveen's 'attached bathroom' moment, Shraddha's accent and much more!
            Chhichhore releases on 6th September in a cinemas near you.</p>
          <p class="card-text"><small class="text-muted">like: 705720,
              dislike: 55092,
              comment: 48469</small></p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="https://i.ytimg.com/vi/OzD9UMbvMeU/mqdefault.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">गणेश चतुर्थी Special I Top Ganesh Bhajans I Ganesh Chaturthi 2019 Special Bhajans I
            Best Collection</h5>
          <p class="card-text">channel: T-Series Bhakti Sagar</p>
          <p class="card-text">Subscribe: http://www.youtube.com/tseriesbhakti\nSiddhi Vinayak Jai Ganpati 00:00\nOm Gan
            Ganpataye Namo Namah (Ganesh Mantra) 05:55\nShree Ganesh Amritwani 12:30\nMangal Murti Gauri Lala 17:55\nHey
            Gajanan Padhaaro 22:26\nGanesh Chalisa 28:39\nSiddhivinayak Aarti 37:37\nOm Mangalam Ganeshaye Mangalam
            44:48\nKar Lo Pooja Ganesh Ki Bhai 51:02\n\nMusic Label: T-Series\n\nGanesh Bhajan</p>
          <p class="card-text"><small class="text-muted">like: 705720,
              dislike: 55092,
              comment: 48469</small></p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="https://i.ytimg.com/vi/x7CvcVPqdJQ/mqdefault.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Jetha Gets Punished On Ganesh Chaturthi | Taarak Mehta Ka Ooltah Chashmah | Ganesh
            Chaturthi Special</h5>
          <p class="card-text">channel: SAB TV</p>
          <p class="card-text">Click here to Subscribe to SAB TV Channel :
            https://www.youtube.com/user/sabtv?sub_confirmation=1\n\nClick to watch all the episodes of Ganesh Chaturthi
            Special - https://www.youtube.com/playlist?list=PL6Rtnh6YJK7aagsAhZnnhUDLWBlNlVICZ\n\nThis Ganesh Chaturthi,
            we bring to you special clips from Taarak Mehta Ka Ooltah Chashmah. So, celebrate Ganesh Chaturthi along
            with Jethalal, Taarak Mehta, Daya, Champaklal and their neighbors in Gokuldham Society</p>
          <p class="card-text"><small class="text-muted">like: 705720,
              dislike: 55092,
              comment: 48469</small></p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="https://i.ytimg.com/vi/KFMA2motPL4/mqdefault.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">🔴 [Live] Bhetan (Kapurthala) Kabaddi Tournament 02 Sep 2019</h5>
          <p class="card-text">channel: Kabaddi365.com</p>
          <p class="card-text">🔴 [Live] Bhetan (Kapurthala) Kabaddi Tournament 02 Sep 2019\n👉Don't Forget to Like,
            Comment, Share and Subscribe to Kabaddi365.com Youtube Channel\n\n👉Kabaddi365 ਦੀ ਐਪ ਇੰਸਟਾਲ ਕਰਨ ਲਈ ਇਸ ਲਿੰਕ
            ਤੇ ਕਲਿੱਕ ਕਰੋ https://goo.gl/RYPufE\n👉Kabaddi365 ਦੇ ਯੂ ਟਿਊਬ ਚੈਨਲ ਨੂੰ ਸਬਸਕ੍ਰਾਈਬ ਕਰਨ ਲਈ ਇਸ ਲਿੰਕ ਤੇ ਕਲਿੱਕ ਕਰੋ
            https://goo.gl/4mYFKq\n👉ਬੈਸਟ ਕਬੱਡੀ ਮੈਚ ਦੇਖੋ : https://goo.gl/4mYFKq\n👉ਫੇਸਬੁੱਕ ਪੇਜ:-
            www.fb.com/kabaddi365\n👉ਸਾਰਾ ਟੂਰਨਾਂਮੈਂਟ ਦੇਖਣ ਲਈ: http://www.youtube.com/user/kabaddi365f\n👉ਜਿਆਦਾ ਜਾਣਕਾਰੀ
            ਲਈ ਸਾਡੇ ਹੈਲਪ ਲਾਈਨ ਨੰਬਰ +919815190441 ਤੇ ਕਾਲ ਕਰ ਸਕਦੇ ਹੋ।\n\n👉Best Video Channel:-
            https://goo.gl/4mYFKq\n👉Facebook Page:- www.fb.com/kabaddi365\n👉Full Video Channel:-
            http://www.youtube.com/user/kabaddi365f</p>
          <p class="card-text"><small class="text-muted">like: 705720,
              dislike: 55092,
              comment: 48469</small></p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="https://i.ytimg.com/vi/1Ttzm0AWWlc/mqdefault.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Episode 923 | 02-09-2019 | MogaliRekulu Telugu Daily Serial | Srikanth Entertainments |
            Loud Speaker</h5>
          <p class="card-text">channel: Loud Speaker</p>
          <p class="card-text">Mogalirekulu is an Indian Television Serial Directed By Manjula Naidu and Written by
            Bindu Naidu.\n\nStarring: Sagar, Likitha Kamini, Karuna, Ravi varma, Muktar, Shruthi Among
            Others.\n\n-----------------------------------------------------\n\nCrazy Kiya Re - A Celeb Talk Show:
            https://bit.ly/2WtVjVh\n\nKasthuri Telugu Serial: https://bit.ly/2KpXzGw\n\nSravana Sameeralu Telugu Daily
            Serial: https://bit.ly/2uNEJPm\n\nAgni Poolu Telugu Daily Serial: https://bit.ly/2NsTDSQ\n\nKeratalu Telugu
            Daily Serial: https://bit.ly/2zWs0jv\n\nRuthuragalu -Telugu Daily Serial</p>
          <p class="card-text"><small class="text-muted">like: 705720,
              dislike: 55092,
              comment: 48469</small></p>
        </div>
      </div>
    </div>
  </div>
